 body{
    font-family: 'Roboto', sans-serif;
    background-color: #222831
  }
  
  .shop {
    width: 550px;
    display: -webkit-box;
    height: 300px;
    padding: 10px;
    margin: 10px auto;
  }
  .basic {
    width: 225px;
    background-color: #eeeeee;
    margin: 10px auto;
    border: 2px solid #03a9f4;
  }
  .Or {
    background-color: #03a9f4;
    width: 2px;
    margin: 10px auto;
    position: relative;
  }
  
  .Or::after{
    content: attr(data-text);
    background-color: #03a9f4;
    border-radius: 50%;
    position: absolute;
    width: 13px;
    height: 13px;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    font-size: 11px;
    font-weight: bold;
    color: white;
    top: 115px;
    left: -16px;
  }
  .pro {
    width: 225px;
    background-color: #eeeeee;
    margin: 10px auto;
    border: 2px solid #03a9f4;
  }
  
  h1 {
    background-color: #03a9f4;
    text-align: center;
    border-radius: 8px;
    width: 196px;
    margin: 10px auto;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 7px;
  }
  
  p {
    background-color: #dddddd;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10PX auto;
    padding: 50px;
    position: relative;
    transition: box-shadow 2s;
  }
  
  p:hover {
    box-shadow: 0px 1px 10px 3px black;
  }
  
  p::after {
    content: attr(data-text);
    position: absolute;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    top: 69px;
    left: 62px;
    padding: 10px;
    margin-left: -2px;
  } 
